*{
    margin: 0px;
    padding: 0px;
}

a {
    color: rgb(0, 220, 160);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: rgb(0, 255, 170);
    overflow: auto;
}

header {
    background-color: rgb(160, 255, 220);
    height: 60px;
    display: flex;

}

#menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 500px;
}

.menu_button {
    width: 20vw;    
    text-align: center;
    font-size: 40px;
}

#a_scan {
    color: rgb(255, 255, 255);
}

#scan_button {
    background-color: rgb(160, 255, 220);
    border: none;
    color: rgb(255, 255, 255);
    width: 500px;
    height: 100px;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    border-radius: 20px;
    box-shadow: 0 5px rgb(0, 220, 160);
}

#scan_button:hover {
    background-color: rgb(0, 220, 160);
    box-shadow: 0 5px rgb(0, 209, 153);
}

#scan_button:active {
    transform: translateY(3px);
}

#content {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    margin-top: 10px;
}

#button_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


#text_container {
    display: flex;
    justify-content: center;
}

#text_container1 {
    width: 300px;
    margin-left: 20px;
}

#container1 {
    background-color: rgb(0, 220, 160);
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#menu_text {    
    margin: 30px;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
}

#site_checker {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 220, 160);
    position: absolute;
}